@media (max-width: 768px) {
    #pc-text {
        display: none;
    }

    #img-pc {
        display: none;
    }

    .mobile-text {
        margin: 0 auto;
        margin-bottom: 3rem;
        margin-top: 0.7rem;
        width: 102%;
        display: none;
    }

    .main-title {
        font-size: 3rem;
        margin-top: 0rem;
        margin-bottom: 2rem;
    }

    .middle-dog {
        max-width: 100%;
    }

    #first-middle img {
        width: 90%;
        margin-top: -2.5rem;
    }

    .middle-orange {
        border-radius: 2.5rem 2.5rem 0 0;
        width: 95%;
        height: 100%;
        margin-bottom: -10%;
        z-index: 0;
    }

    .first-middle-text {
        bottom: 4.5rem;
        left: 0;
        padding: 2rem;
        z-index: 2;
        font-size: 1rem;
        display: none;
    }

    #second-middle {
        margin-top: -0.3rem;
    }

    .middle-red {
        background-color: #BA0F30;
        border-radius: 2.5rem;
        width: 100%;
    }

    .second-middle-text {
        font-size: 1.5rem;
        margin-top: 6%;
        margin-left: 6%;
    }

    .about {
        color: #181519;
        font-size: 1rem;
        background-color: #f3eac0;
        padding: 1.5rem;
        text-wrap: pretty;
        align-items: center;
        border-radius: 20px;
        height: auto;
        text-align: center;
        margin-top: 0.5rem;
    }

    #textbox-right {
        margin-left: 5%;
        margin-right: 5%;
    }

    #textbox-left {
        margin-left: 5%;
        margin-right: 5%;
    }

    .middle-orange2 {
        border-radius: 0 0 2.5rem 2.5rem;
        width: 90%;
        z-index: 1;
    }

    .different {
        margin-top: 8rem;
        font-size: 2rem;
    }

    .botao {
        border-radius: 1rem;
        font-size: 1.5rem;
        padding: 0.5rem 1.5rem 0.5rem 1.5rem;
        margin-top: 1rem;
        margin-bottom: 3rem;
    }

    .racao {
        height: 50%;
        width: 120%;
        margin: 0 auto;
        z-index: 1;
        border-radius: 0 0 2.5rem 2.5rem;
        margin-left: -2rem;
    }

    .middle-green {
        width: 90%;
        z-index: -1;
        margin: 0 auto;
        left: 2.5%;
        position: relative;
    }

    .racaometro {
        font-size: 1.7rem;
        margin-top: 1rem;
        margin-bottom: 0.2rem;
    }

    .dados {
        font-size: 0.8rem;
        margin-bottom: 6rem;
    }

    .racometroimages {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        gap: 10rem;
    }

    .racometroimages img {
        transform: scale(2);
    }

    .ração2 {
        margin-bottom: 5rem;
    }

    .middle-orange3 {
        border-radius: 2.5rem 2.5rem 0 0;
        width: 90%;
        z-index: 1;
    }

    .painel-adocao {
        font-size: 2rem;
        margin-top: 2rem;
        text-overflow: clip;
    }

    .painel {
        width: 100%;
        flex-direction: column;
    }

    .botao1 {
        margin-top: 0.5rem;
        border-radius: 1rem;
        text-align: center;
        font-size: 1.5rem;
        padding: 0em 1.5em 0em 1.5em;
        float: flex-end;
    }

    .px-4 {
        gap: 4rem;
    }

    .card-title {
        font-size: 1.2rem;
        width: 100%;
    }

    .card-lost {
        font-size: 1.2rem;
        width: 100%;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 0.2rem;
        padding-bottom: 0.2rem;
        width: 60%;
        text-align: center;
        z-index: 2;
        position: absolute;
        margin-top: -1.2rem;
        border-radius: 1rem;
    }

    .card-body {
        border-radius: 1rem;
        margin-top: -35%;
        width: 85%;
    }

    .card-body1 {
        border-radius: 1rem;
        margin-top: -35%;
        width: 85%;
    }

    .bi-whatsapp {
        /* isso vai dar problema */
        font-size: 2rem;
        margin-top: -3rem;
        margin-left: 11rem;
    }

    .last-red {
        width: 110%;
    }

    .seta {
        font-size: 5rem;
        width: 100%;
        margin-right: 7.5rem;
        color: #F3EAC0;
    }

    .carousel-inner {
        padding-left: 6rem;
        padding-right: 6rem;
    }

    .card-text {
        font-size: 1rem;
    }

    .middle-red-oth {
        margin-top: -5rem;
        position: relative;
        background-color: #BA0F30;
        border-radius: 2.5rem;
        width: 107.5%;
        left: 3%;
    }

    .middle-red-oth img {
        transform: scale(2.3);
        margin-bottom: 7rem;
    }

    .carroselnew {
        gap: 12rem;
        margin-top: 10rem;
    }

    .second-middle-text-oth {
        font-size: 1.5rem;
        margin-bottom: -3rem;
        margin-top: 6%;
        margin-left: 6%;
        font-family: "Young Serif", serif;
        color: #F3EAC0;
    }

    .last {
        margin-bottom: 2rem;
        width: 350px;
        margin: 0 auto;
        height: auto;
    }

    .final{
        margin: 0 auto;
        padding-right: 5rem;
    }
}

@media (min-width: 768px) {
    #img-cell {
        display: none;
    }

    .mobile-text {
        display: none;
    }

    .main-title {
        font-size: 6.5rem;
        margin-bottom: -3rem;
        margin-top: -1rem;
    }

    .middle-dog {
        max-width: 80%;
    }

    #first-middle img {
        width: 40%;
    }

    .middle-orange {
        border-radius: 9.5rem 9.5rem 0 0;
        width: 102%;
        height: 80%;
        margin-bottom: -15%;
        z-index: 0;
    }

    .first-middle-text {
        bottom: 4.5rem;
        left: 0;
        padding: 3rem;
        z-index: 2;
        font-size: 1.7rem;
    }

    #second-middle {
        margin-top: -7rem;
    }

    .middle-red {
        background-color: #BA0F30;
        border-radius: 9.5rem;
        width: 106%;
        margin-bottom: -1.5rem;
    }

    .second-middle-text {
        font-size: 3.2rem;
        margin-top: 6%;
        margin-left: 8%;
    }

    .about {
        color: #181519;
        font-size: 1.6rem;
        background-color: #f3eac0;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 2.5rem;
        text-wrap: pretty;
        align-items: center;
        border-radius: 20px;
        height: 13rem;
        text-align: center;
    }

    #textbox-right {
        margin-right: 15%;
    }

    #textbox-left {
        margin-left: 15%;
    }

    .third-middle img {
        max-width: 80%;
    }

    .middle-orange2 {
        border-radius: 0 0 9.5rem 9.5rem;
        width: 105%;
        margin-top: -40px;
    }

    .different {
        margin-top: 10rem;
        font-size: 3.2rem;
    }

    .botao {
        border-radius: 30px;
        font-size: 2.3rem;
        padding: 1rem 3rem 1rem 3rem;
        margin-top: 2rem;
    }

    .racao {
        margin-top: -1.7rem;
        height: 80%;
        width: 100%;
        z-index: 1;
        border-radius: 0 0 5rem 5rem;
    }

    .middle-green {
        width: 95%;
        margin-top: -40px;
        z-index: -1;
    }

    .racaometro {
        font-size: 3.2rem;
        margin-top: 6rem;
        margin-bottom: -0.4rem;
    }

    .dados {
        font-size: 1rem;
        margin-left: 16%;
        margin-bottom: -4rem;
    }

    .racometroimages {
        margin: 0 auto;
        gap: 16rem;
    }

    .middle-orange3 {
        border-radius: 9.5rem 9.5rem 0 0;
        width: 110%;
        z-index: 1;
    }

    .painel-adocao {
        margin-top: 4rem;
        font-size: 3.2rem;
        text-overflow: clip;
    }

    .painel {
        width: 100%;
        gap: 200px;
    }

    .botao1 {
        margin-top: 4rem;
        border-radius: 20px;
        text-align: center;
        font-size: 2.5rem;
        padding: 0em 1.5em 0em 1.5em;
        float: flex-end;
    }

    .card-title {
        font-size: 1.8rem;
        width: 100%;
    }

    .card-lost {
        font-size: 1.8rem;
        width: 100%;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 0.2rem;
        padding-bottom: 0.2rem;
        width: 60%;
        text-align: center;
        z-index: 2;
        position: absolute;
        margin-top: 0.5rem;
        border-radius: 1rem;
    }

    .card-body {
        border-radius: 1.5rem;
        margin-top: -30%;
        width: 85%;
    }

    .card-body1 {
        border-radius: 1.5rem;
        margin-top: -30%;
        width: 85%;
    }

    .bi-whatsapp {
        font-size: 2.5rem;
        margin-top: -0.7rem;
        margin-right: -1rem;
    }

    .last-red {
        width: 110%;
    }

    .seta {
        font-size: 4rem;
        margin-right: 50px;
        color: #F3EAC0;
    }

    .carousel-inner {
        padding-left: 8rem;
        padding-right: 8rem;
    }

    .card-text {
        font-size: 1.5rem;
    }

    .middle-red-oth {
        background-color: #BA0F30;
        border-radius: 7rem;
        width: 110%;
    }

    .second-middle-text-oth {
        font-size: 3.2rem;
        margin-top: 6%;
        margin-left: 6%;
        font-family: "Young Serif", serif;
        color: #F3EAC0;
    }

    .last {
        margin-top: 5rem;
        margin-bottom: 2rem;
        width: 600px;
        height: auto;
    }
    .final{
            padding-right: 10rem;
    }
}

body::-webkit-scrollbar {
    display: none;
}

/* body css */

body {
    margin: 0;
    padding: 0;
    overflow: auto;
    overflow-x: hidden;
    background-color: #f3eac0;
}

p {
    font-family: "Varela", sans-serif;
    line-height: 95%;
    letter-spacing: -3%;
    text-wrap: balance;
}


/* hero section css */

.main-title {
    text-align: center;
    font-family: "Young Serif", serif;
    color: #181519;
}

#first-middle {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.first-middle-text {
    position: absolute;
    color: #F3EAC0;
    font-family: "Varela", sans-serif;
}

.middle-orange {
    background-color: #DC9750;
    position: absolute;
    bottom: 0;
}

.middle-dog {
    position: relative;
    z-index: 1;
    height: auto;
}

/* about section css */

#second-middle {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
    flex-direction: column;
}

.second-middle-text {
    font-family: "Young Serif", serif;
    color: #F3EAC0;
}

.latinhastext {
    font-size: 1.3rem;
    font-family: "Young Serif", serif;
    color: #F3EAC0;
    text-align: right;
    margin-right: -7rem;
}

.agendastext {
    margin-left: -8rem;
}

.second-about {
    font-family: "Young Serif", serif;
    color: #F3EAC0;
    font-size: 1.6rem;
    text-align: center;
}

.third-middle img {
    height: auto;
    display: block;
    margin: 0 auto;
    text-align: center;
}

.third-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 0;
}

/* doação section css */

.middle-orange2 {
    background-color: #DC9750;
    display: block;
    margin: 0 auto;
    text-align: center;
    z-index: 1;
    margin-top: -5rem;
}

.different {
    text-align: center;
    font-family: "Young Serif", serif;
    color: #F3EAC0;
}

.botao {
    font-family: "Young Serif", serif;
    color: #DC9750;
    background-color: #F3EAC0;
    border: solid 1px #F3EAC0;
    text-align: center;
    align-items: center;
    justify-content: center;
}

/* ração section css */

.middle-green {
    background-color: #004732;
    margin: 0 auto;
    align-items: center;
    bottom: 0;
}

.racaometro {
    color: #F3EAC0;
    font-family: "Young Serif", serif;
    text-align: center;
}

.dados {
    color: #F3EAC0;
    text-align: center;
}

.racometroimages {
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
}

/* painel de adoção */

.middle-orange3 {
    background-color: #DC9750;
    display: flexbox;
    margin: 0 auto;
    text-align: center;
    margin-top: -7rem;
}

.painel-adocao {
    font-family: "Young Serif", serif;
    color: #F3EAC0;
}

.botao1 {
    font-family: "Young Serif", serif;
    color: #DC9750;
    background-color: #F3EAC0;
    border: solid 1px #F3EAC0;
}

.card1,
.cards {
    background: none;
    border: none;
    align-items: center;
}

.card-body {
    background-color: #BA0F30;
}

.card-body1 {
    background-color: #004732;
}

.card-title {
    font-family: "Young Serif", serif;
    color: #F3EAC0;
    text-align: left;
    line-height: 150%;
    letter-spacing: -3%;
    text-wrap: balance;
}

.card-lost {
    font-family: "Young Serif", serif;
    color: #F3EAC0;
    text-align: left;
    line-height: 150%;
    letter-spacing: -3%;
    text-wrap: balance;
    background-color: #BA0F30;
    text-align: center;
    z-index: 2;
    position: absolute;
}

.card-text {
    font-family: "Varela", sans-serif;
    color: #F3EAC0;
    text-align: left;
    line-height: 50%;
    letter-spacing: -3%;
    text-wrap: balance;
}

/**************************************************************/

/*painel de adoção*/
.body-painel {
    margin: 0;
    padding: 0;
    overflow: auto;
    overflow-x: hidden;
    background-color: #BA0F30;
}

.linha-painel {
    margin-right: 60px;
}

#painel {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
    flex-direction: column;
    width: 100%;
}

.painel-orange {
    background-color: #DC9750;
    border-radius: 5rem;
    width: 100%;
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-top: 10px;
    z-index: 1;
}

.logo-painel,
.nome-painel {
    color: #F3EAC0;
    width: 30%;
    margin: 0 auto;
}

.nome-painel {
    font-family: "Young Serif", serif;
}

.buttons {
    margin-top: 1rem;
    margin-right: -4rem;
    position: absolute;
    display: flex;
    flex-direction: column;
}

.botaooth {
    font-family: "Young Serif", serif;
    color: #F3EAC0;
    background-color: #DC9750;
    border: solid 1px #DC9750;
    text-align: center;
    font-size: 2.2rem;
    padding: 0em 1em 0em 1em;
    float: flex-end;
    margin-bottom: 0.3rem;
}

.bottop {
    border-radius: 20px 20px 0 0;
}

.botbot {
    border-radius: 0 0 20px 20px;
}

/*footer*/

.footer {
    background-color: #004732;
    width: 105%;
    text-align: center;
    z-index: 0;
    padding: 0;
    position: absolute;
    left: 0;
}

.divider-main {
    width: 95.5%;
    left: 0;
    height: 3rem;
    margin-bottom: 1rem;
    background-color: #F3EAC0;
    border-radius: 0rem 0rem 20rem 20rem;
}

.divider {
    width: 100%;
    height: 3rem;
    background-color: #BA0F30;
    border-radius: 0rem 0rem 10rem 10rem;
    margin-top: 2rem;
    
}

.different1 {
    margin-top: 90px;
    text-align: left;
    font-family: "Young Serif", serif;
    color: #F3EAC0;
    font-size: 3.2rem;
}

.social {
    font-family: "Young Serif", serif;
    color: #F3EAC0;
    font-size: 50px;
    margin-top: 2rem;
    margin-left: 3rem;
}

.ultimo1 {
    display: flex;
    gap: 20px;
}

.final {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}